body {
  background-color: gray;
}

p {
  color: lightgray;
}

h2 {
  line-height: 50px;
  color: lightgray;
}

.epicodus {
  color: teal;
  font-family: Verdana;
}

.box {
  margin-right: 10px;
}

.list {
  line-height: 25px;
  color: lightgray
}

.list ol {
  font-size: 16px;
}

.list ul {
  font-size: 14px;
  font-style: italic;
}

.hobbies {
  font-size: 16px;
}

a:link {
  color: lightseagreen;
}

a:visited {
  color: limegreen;
}

a:hover {
  color: greenyellow;
}

a:active {
  color: white;
}

img {
  border: 2px solid dimgray;
}

.jumbotron {
  color: lightgray;
  background-color: #3b3b3b;
}

.panel p {
  color: black;
}

.quote {
  float: right;
}