body {
  background-color: gray;
}

h2 {
  line-height: 50px;
  color: lightgray;
}

.epicodus {
  color: teal;
  font-family: Verdana;
}

.box {
  margin-right: 10px;
}

.list {
  line-height: 25px;
  color: lightgray;
}

.list ol {
  font-size: 16px;
}

.list ul {
  font-size: 14px;
  font-style: italic;
}

.hobbies {
  font-size: 16px;
  line-height: 25px;
  color: lightgray;
}

a:link {
  color: lightseagreen;
}

a:visited {
  color: limegreen;
}

a:hover {
  color: greenyellow;
}

a:active {
  color: white;
}